.people-list-container {
  height: 200px;
  padding: 10px 0;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.people-list-container .people-list-item {
  list-style: none;
  font-size: 20px;
  padding: 10px 30px;
}

.people-list-container .people-list-item:hover {
  background-color: gray;
}
